<h1><%= @merchant.name %></h1>
<nav class="nav">
  <%= link_to 'My Items', merchant_items_path(@merchant) %>
  <%= link_to 'My Invoices', merchant_invoices_path(@merchant) %>
</nav>

<h2>Favorite Customers</h2>
<ol>
  <% @top_five_customers.each do |customer| %>
    <li id="customer-<%= customer.id %>"><%= customer.full_name %> - <%= @merchant.transaction_count(customer.id) %> Purchases</li>
  <% end %>
</ol>

<h2>Items Ready to Ship</h2>
<% @items_ready_to_ship.each do |item| %>
  <% invoice_id = @merchant.invoice_for_item_ready(item.id) %>
  <%= item.name %> - <%= link_to "Invoice ##{invoice_id}", merchant_invoice_path(@merchant, Invoice.find(invoice_id)) %><br>
<% end %>
