<h1>Invoice # <%= @invoice.id %> - Admin Show Page</h1>

<section id='invoice_info'>
  <p>Status: <%= @invoice.status_view_format %></p>
  <p>Date Created: <%= @invoice.created_at_view_format %></p>
  <p>Total Revenue: <%= number_to_currency((@invoice.total_revenue)) %></p>
  <p>Total Revenue After Discounts: <%= number_to_currency((@invoice.discount_revenue)) %></p>
</section>

<section id='invoice_status_update'>
  <%= form_with model: [:admin, @invoice], local: true do |form| %>
    <%= form.label :status %>
    <%= form.select :status, @invoice_statuses %>
    <%= form.submit %>
  <% end %>
</section>

<h3>Customer Information:</h3>
<section class='admin_invoice' id='customer_info'>
  <p><%= @customer.full_name %></p>
</section>
<h3>Items:</h3>
<section class='admin_invoice' id='ii_info'>
  <% @items.each do |item| %>
    <h4><%= item.name %></h4>
    <p>Quantity: <%= InvoiceItem.search_for_quantity(@invoice.id, item.id) %></p>
    <p>Price: <%= number_to_currency(item.unit_price) %></p>
    <p>Discount: <%= number_to_currency(@invoice.discount_amount(item.invoice_item(@invoice.id))) %></p>
    <p>Status: <%= item.status.capitalize %></p>
  <% end %>
</section>
