<h1> <%= @merchant.name %> </h1>

<h2>My Items</h2>

<%= link_to 'New Item', new_merchant_item_path(@merchant) %>

<h3>Enabled Items</h3>
<% @enabled_items.each do |item| %>
  <div id="item-<%= item.id %>">
    <%= render partial: 'status', locals: { button_label: "Disable",
                                            status: :disabled,
                                            item: item
                                          } %>
  </div>
<% end %>

<h3>Disabled Items</h3>
<% @disabled_items.each do |item| %>
<div id="item-<%= item.id %>">
  <%= render partial: 'status', locals: { button_label: "Enable",
                                          status: :enabled,
                                          item: item
                                        } %>
</div>
<% end %>

<h3>Top Five Items</h3>
<% @top_five_items.each do |item| %>
  <div id="top-five-item-<%= item.id %>">
    <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %> $<%= '%.2f' % item.total_revenue %><br> Top Day For <%= item.name %> Was: <%= item.best_day %><br><br>
  </div>
<% end %>
