<h1><%= @merchant.name %>'s Discount #<%= @discount.id %></h1>
<h2>Discount Percentage: <%= @discount.percent * 100 %>%</h2>
<h2>Item Quantity Threshold: <%= @discount.threshold %> Items</h2>


<%= render partial: @discount.invoice_items_pending?, locals: {discount: @discount } %>
